@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E9E9E9;
  --font-family: initial;
}


/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

/* globals.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
