body {
    margin: 0;
    padding: 0;
  }
  
  .layout-container {
    display: flex;
    height: 100vh;
  }
  
  .layout-aside {
    width: 175px;
    background-color: #08005b;
    color: #fff;
  }
  
  .layout-aside a {
    color: white;
    text-decoration: none;
  }
  
  .layout-main {
    flex: 1;
    padding: 1rem;
  }
  